{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">×</a>
              {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  <h1>Setup</h1>

  {{ wtf.quick_form(form, enctype="multipart/form-data", button_map={'submit_button': 'primary'}) }}
<img src="{{ url_for('static', filename='cards.jpg') }}?t={{ timestamp }}" />
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
